%% -*- erlang -*-
[
    "config/sys.config",
    {lager, [
        {log_root, "/var/data/log"}
    ]},
    {blockchain, [
        {key, undefined}
    ]},
    {miner, [
        %% bind jsonrpc to host when in docker container
        {jsonrpc_ip, {0, 0, 0, 0}},
        {use_ebus, false},
        {radio_device, {{0, 0, 0, 0}, 1680, {0, 0, 0, 0}, 31341}}
    ]}
].
